<!-- about -->
<div class="about" id="about">
    <div class="container">
        <div class="wthree_title_agile two">
            <h3>About <span>Us</span></h3>
        </div>
        <p class="sub_para two">It’s time to drive</p>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-6 about-left-w3layouts">
                <h6 class="sub">WELCOME TO OUR Rental Car</h6>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
            <div class="col-md-6 about-right-w3layouts">
                <iframe src="https://player.vimeo.com/video/9677468" frameborder="0"></iframe>


            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--about-section-->
<!-- about -->
