<!-- /banner-bottom -->
<div class="banner-bottom">
    <!--//screen-gallery-->
    <div class="wthree_title_agile">
        <h3>Most <span>Popular</span>  Cars</h3>
    </div>
    <p class="sub_para">It’s time to drive</p>
    <div class="inner_w3l_agile_grids">
        <div class="sreen-gallery-cursual">

            <div id="owl-demo" class="owl-carousel">
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s1.jpg" class="img-responsive" alt="" />
                        <h5>$280</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s2.jpg" class="img-responsive" alt="" />
                        <h5>$420</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s3.jpg" class="img-responsive" alt="" />
                        <h5>$480</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s4.jpg" class="img-responsive" alt="" />
                        <h5>$600</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s1.jpg" class="img-responsive" alt="" />
                        <h5>$80</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s5.jpg" class="img-responsive" alt="" />
                        <h5>$500</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s3.jpg" class="img-responsive" alt="" />
                        <h5>$500</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s4.jpg" class="img-responsive" alt="" />
                        <h5>$600</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s1.jpg" class="img-responsive" alt="" />
                        <h5>$800</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s2.jpg" class="img-responsive" alt="" />
                        <h5>$680</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s3.jpg" class="img-responsive" alt="" />
                        <h5>$870</h5>
                    </div>
                </div>
                <div class="item-owl">
                    <div class="test-review">
                        <img src="~/Template_Data/images/s5.jpg" class="img-responsive" alt="" />
                        <h5>$830</h5>
                    </div>
                </div>
            </div>
            <!--//screen-gallery-->
        </div>
    </div>
</div>
<!-- //banner-bottom -->
