<!-- //gallery -->
<div class="gallery" id="gallery">
    <!-- gallery -->
    <div class="container">
        <div class="wthree_title_agile">
            <h3> Our <span>Latest</span>  Cars </h3>
        </div>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-1">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g1.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-md-4 gal-gd wow fadeInUp animated" data-wow-delay=".5s">
                <a href="#image-2">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g2.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>


            </div>
            <div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-3">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g3.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gal-gd-sec wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-4">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g4.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 gal-gd-sec wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-5">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g5.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInLeft animated" data-wow-delay=".5s">
                <a href="#image-6">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g6.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInDown animated" data-wow-delay=".5s">
                <a href="#image-7">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g7.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 gal-gd wow fadeInRight animated" data-wow-delay=".5s">
                <a href="#image-8">
                    <div class="nd-wrap nd-style-8">
                        <img src="~/Template_Data/images/g8.jpg" class="img-responsive" alt=" " />
                        <div class="nd-content">
                            <div class="nd-content_inner">
                                <div class="nd-content_inner1">
                                    <h4 class="nd-title">Car Rental</h4>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-link"></i>
                                    </span>
                                    <span class="nd-icon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //gallery -->
