<div class="lb-overlay" id="image-1">
    <img src="~/Template_Data/images/g1.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-2">
    <img src="~/Template_Data/images/g2.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-3">
    <img src="~/Template_Data/images/g3.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-4">
    <img src="~/Template_Data/images/g4.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-5">
    <img src="~/Template_Data/images/g5.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-6">
    <img src="~/Template_Data/images/g6.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-7">
    <img src="~/Template_Data/images/g7.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
<div class="lb-overlay" id="image-8">
    <img src="~/Template_Data/images/g8.jpg" alt="image1" />
    <div class="gal-info">
        <h3>Car Rental</h3>
        <p>
            Neque porro quisquam est, qui dolorem ipsum
            quia dolor sit amet, consectetur, adipisci velit,
            sed quia non numquam eius modi tempora incidunt ut
            labore et dolore magnam aliquam quaerat voluptatem.
        </p>
    </div>
    <a href="index.html" class="lb-close">Close</a>
</div>
