<!--service-section-->
<div class="services" id="service">
    <div class="container">
        <div class="wthree_title_agile">
            <h3> Today <span>SPECIAL</span>  DEALS </h3>
        </div>
        <p class="sub_para">It’s time to drive</p>
        <div class="inner_w3l_agile_grids">
            <div class="col-md-4 agileits_service_grid_btm_left">
                <div class="agileits_service_grid_btm_left1">
                    <div class="agileits_service_grid_btm_left2">
                        <h5>Deal 1</h5>
                        <p>Per day<span>$</span>300.00</p>
                        <p>Mon, Tue, Thu, Fri, Sat</p>

                    </div>
                    <img src="~/Template_Data/images/s3.jpg" alt=" " class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 agileits_service_grid_btm_left">
                <div class="agileits_service_grid_btm_left1">
                    <div class="agileits_service_grid_btm_left2">
                        <h5>Deal 2</h5>
                        <p>Per day<span>$</span>300.00</p>
                        <p>Mon, Tue, Thu, Fri, Sat</p>
                    </div>
                    <img src="~/Template_Data/images/s5.jpg" alt=" " class="img-responsive">
                </div>
            </div>
            <div class="col-md-4 agileits_service_grid_btm_left">
                <div class="agileits_service_grid_btm_left1">
                    <div class="agileits_service_grid_btm_left2">
                        <h5>Deal 3</h5>
                        <p>Per day<span>$</span>300.00</p>
                        <p>Mon, Tue, Thu, Fri, Sat</p>
                    </div>
                    <img src="~/Template_Data/images/s1.jpg" alt=" " class="img-responsive">
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//service-section-->
