<!--//team-section-->
<div class="middile" id="team">
    <div class="container">
        <div class="wthree_title_agile two">
            <h3>Amazing <span>Team</span></h3>
        </div>
        <p class="sub_para two">It’s time to drive</p>
        <div class="inner_w3l_agile_grids">
            <!-- Flipster List -->
            <div class="flipster">
                <ul>
                    <li>
                        <div class="about-grid-agile">
                            <div class="about-head-w3">
                                <h3>Ceo</h3>
                            </div>
                            <div class="about-bottom">
                                <div class="about-bottom-image">
                                    <img src="~/Template_Data/images/t1.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="about-bottom-bottom">
                                    <p>Linda Carl</p>
                                    <div class="agileits_social_list">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about-grid-agile">
                            <div class="about-head-w3">
                                <h3>Md</h3>
                            </div>
                            <div class="about-bottom">
                                <div class="about-bottom-image">
                                    <img src="~/Template_Data/images/t2.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="about-bottom-bottom">
                                    <p>Ashley John</p>
                                    <div class="agileits_social_list">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="about-grid-agile">
                            <div class="about-head-w3">
                                <h3>Hr</h3>
                            </div>
                            <div class="about-bottom">
                                <div class="about-bottom-image">
                                    <img src="~/Template_Data/images/t3.jpg" alt=" " class="img-responsive">
                                </div>
                                <div class="about-bottom-bottom">
                                    <p>Ashley Rose</p>
                                    <div class="agileits_social_list">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- End Flipster List -->

        </div>

    </div>
</div>
<!--//team-section-->
