
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

<h2>@ViewBag.Message</h2>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <input type="submit" value="upload" />
</form>

